* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Rubik", sans-serif;
    /* font-family: "Inter", sans-serif; */
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    width: 100%;
}   

nav {
    background-color: #3E8989;
    padding: 37px 0;
}

.nav__content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu__link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;
}


.menu__link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    z-index: 2;
    transition-duration: .25s;
}
    
.menu__link:hover::after {
    width: 100%;
}

.header_background {
    background-image: url(../img/bg.jpg);
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 80px;
    margin-bottom: 20px;
}

.header__desc {
    font-size: 40px;
    margin-bottom: 50px;
}

.header__addition {
    font-family: "Inter", sans-serif;
    background: #B4436C;
    border-radius: 30px;
    padding: 14px 78px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    color: white;
    transition: .3s all;
    cursor: pointer;
}

.header__addition:hover {
    color: #B4436C;
    background: #fff;

}

.nav2 {
    background: #fff;
}

.nav__content2 h1 {
    font-family: "Inter";
    text-align: center;
    font-size: 40px;
    color: #3E8989;
    margin-top: 100px;
}

.about {
    margin-top: 100px;
}

.about-title {
    color: #3E8989;
    text-align: center;
    font-family: "Inter";
    font-size: 40px;
    margin-bottom: 50px;
}

.about-image {
    max-width: 545px;
    width: 100%;
}

.about-image img {
    width: 100%;
}

.about-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.name {
    max-width: 545px;
    width: 100%;
    font-size: 18px;
    margin-top: 9px;
}

.info {
    margin-bottom: 20px;
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}


.catalog {
    margin-top: 100px;
}

.catalog_title {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    color: #3E8989;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 50px;
}

.catalog_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 263px;
    height: 359px;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.card-link {
    margin-top: 30px;
}

.card-link a {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.card-link a:hover {
    color: #B4436C;
}

.catalog2 {
    margin-top: 100px;
}

.catalog_title2 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    color: #3E8989;
    font-weight: 600px;
}

.information {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    color: #000000;
    max-width: 555px;
}

.number {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.email {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    color: #000000;
}

.contacts__info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer {
    width: 100%;
    background-color: #3E8989;
    margin-top: 100px;
    padding-bottom: 15px;
}

.parag {
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: medium 16px;
    display: flex;
    gap: 30px;

}

.reserved {
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.nav3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 51px;
}

.search-form {
    display: flex;
}
.search-form *{
    border: none;
    outline: none;
    font-family:"Rubik" ;
}

.search__input {
    width: 216px;
    height: 35px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
    font-size: 16px;
}

.search__btn {
    width: 74px;
    height: 35px;
    background-color: #295E5E;
    color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
}
.menu__link_hov::after{
display: none;
padding-bottom: 0;
}